.modal {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
  padding: 50px 50px 0;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

.modal__content {
  padding: 30px;
  background-color: white;
  width: 683px;
  height: 636px;
  transform: scale(0.5);
  transition: 0.4s all;
}

.modal__content.active {
  transform: scale(1);
}
.div__div__img {
  display: flex;
  justify-content: center;
}

.div__div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img__img {
  width: 85px;
  height: 59.77px;
}
.p__p {
  font-size: 0.9375rem;
  line-height: 3.125rem;
  text-transform: capitalize;
  color: #2d5fd4;
}
.flex__flex {

    margin: 100px 0;
}
.div__label {
  display: flex;
  flex-direction: column;
  margin: 10px 0 30px 0;
  gap: 5px;
}
.label {
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  text-transform: capitalize;
  color: #2d5fd4;
}
.input {
  padding: 10px 35px 10px 15px;
  gap: 10px;

  width: 425px;


  border-radius: 8px;
}
.btn__blue {
  padding: 10px 25px;

  cursor: pointer;
  font-size: 15px;
  line-height: 18px;
  text-transform: capitalize;
  margin: 20px 0;
  color: #FFFFFF;
  width: 550px;
  height: 42px;
  border: none;
  background: #2d5fd4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn__blue__flex {
  display: flex;
  justify-content: center;
}

@media screen and (max-width:897px) {
  .btn__blue {
  width: 75vw;

  }  
  .input {
  width: 70vw;

    }
}
@media screen and (max-width:465px) {
    .p__p {
        font-size:2.9375vw;
        line-height: 3.125rem;
        text-transform: capitalize;
        color: #2d5fd4;
      }
    
}








